In [2]:
# 1. Importar la librer√≠a pandas y llamarla 'pd'
import pandas as pd

# 2. Leer el archivo 'inventario.csv' y guardarlo en la variable 'df'
df = pd.read_csv('inventario.csv')

# 3. Mostrar las primeras 5 filas de los datos
df.head()

   ID_Producto   Nombre  Precio  Stock
0          101   Laptop    1200     15
1          102    Mouse      25     80
2          103  Teclado      75     50
3          104  Monitor     300     25

In [3]:
1

1

In [4]:
df.shape

(4, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Producto  4 non-null      int64
 1   Nombre       4 non-null      object
 2   Precio       4 non-null      int64
 3   Stock        4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 260.0+ bytes

In [6]:
df.describe()

       ID_Producto       Precio      Stock
count     4.000000     4.000000   4.000000
mean    102.500000   400.000000  42.500000
std       1.290994   546.580278  29.011492
min     101.000000    25.000000  15.000000
25%     101.750000    62.500000  22.500000
50%     102.500000   187.500000  37.500000
75%     103.250000   525.000000  57.500000
max     104.000000  1200.000000  80.000000